@import "contact";

.showcase-home {
  background: url("../images/home/showcase.webp") no-repeat center/cover;
  position: relative;
  margin: 0 0 4rem;

  & .showcase-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    height: 100%;
    padding: 0 12rem;

    & .showcase-subtitle {
      font-size: 1.3rem;
      margin: 0 0 2rem;
      font-family: var(--primary-font-family);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  & *:not(.navbar) {
    z-index: 10;
  }
}

.events-wrapper .cards-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  & .card {
    width: 18%;
    position: relative;
    padding: 2rem 1.5rem;
    border-radius: 5px;
    transition: 600ms ease;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);

    &:nth-child(odd) {
      background: var(--gray-3);
    }

    &:nth-child(even) {
      background: var(--gray-4);

      & > * {
        color: var(--gray-1);
      }
    }

    & img {
      margin: 0 0 1rem;
    }

    & .card-title {
      font-size: 1.3rem;
      margin: 0 0 1rem;
    }

    & .card-content {
      font-family: var(--primary-font-family);
    }

    &:hover {
      cursor: pointer;
      transform: translateY(-10px);
      transition: 600ms ease;
    }
  }
}

.about-wrapper,
.services-wrapper {
  justify-content: space-evenly;
  gap: 2rem;

  & img {
    border-radius: 10px;
  }

  & .content-wrapper {
    width: 40%;

    & .title {
      margin: 0 0 1rem;
    }

    & .description {
      font-family: var(--primary-font-family);
    }

    & .main-button {
      margin: 2rem 0 0;
    }
  }
}

.about-wrapper {
  flex-direction: row;
}

.services-wrapper {
  flex-direction: row-reverse;
}

.most-popular-wrapper {
  margin: 0;

  & .items-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    & .item {
      width: 300px;
      height: 400px;
      border-radius: 5px;
      transition: 600ms ease;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        background: rgba(255, 255, 255, 0.1);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }

      &:hover {
        scale: 1.05;
        transition: 600ms ease;
      }

      &-1 {
        background: url(../images/home/card-image-1.webp) no-repeat center/cover;
      }

      &-2 {
        background: url(../images/home/card-image-2.webp) no-repeat center/cover;
      }

      &-3 {
        background: url(../images/home/card-image-3.webp) no-repeat center/cover;
      }

      & .item-tag {
        position: relative;
        top: 50%;
        text-align: center;
        background: rgba(31, 31, 31, 0.9);
        padding: 1rem;
      }
    }
  }
}
