#contact-body .showcase-contact {
  background: linear-gradient(180deg, rgb(51, 51, 51) 0%, rgb(51, 51, 51) 0%, rgb(17, 17, 17) 100%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 4rem 4rem 0;
}
#contact-body .showcase-contact .contact-left .title {
  margin: 0 0 2rem;
}
#contact-body .showcase-contact .contact-left .contact-item {
  display: flex;
  align-items: center;
  margin: 0 0 1rem;
}
#contact-body .showcase-contact .contact-left .contact-item img {
  margin: 0 1rem 0 0;
}
#contact-body .showcase-contact .contact-left .contact-item:last-child {
  margin: 0;
}
#contact-body .showcase-contact .contact-right {
  background: var(--white);
  padding: 3rem;
  border-radius: 5px;
  width: 400px;
}
#contact-body .showcase-contact .contact-right h2 {
  color: var(--gray-1);
  margin: 0 0 1rem;
}
#contact-body .showcase-contact .contact-right .contact-form {
  display: flex;
  flex-direction: column;
}
#contact-body .showcase-contact .contact-right .contact-form .input-data {
  position: relative;
  margin: 0 0 1rem;
}
#contact-body .showcase-contact .contact-right .contact-form .input-data textarea {
  margin: 1rem 0 0;
}
#contact-body .showcase-contact .contact-right .contact-form .input-data input, #contact-body .showcase-contact .contact-right .contact-form .input-data textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  color: var(--gray-1);
  font-size: 1rem;
}
#contact-body .showcase-contact .contact-right .contact-form .input-data input:focus, #contact-body .showcase-contact .contact-right .contact-form .input-data textarea:focus {
  outline: none;
}
#contact-body .showcase-contact .contact-right .contact-form .input-data input:focus ~ label, #contact-body .showcase-contact .contact-right .contact-form .input-data input:valid ~ label, #contact-body .showcase-contact .contact-right .contact-form .input-data textarea:focus ~ label, #contact-body .showcase-contact .contact-right .contact-form .input-data textarea:valid ~ label {
  transform: translateY(-20px);
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--orange-1);
}
#contact-body .showcase-contact .contact-right .contact-form .input-data label {
  position: absolute;
  color: var(--gray-4);
  bottom: 2rem;
  transition: all 300ms ease;
}
#contact-body .showcase-contact .contact-right .contact-form .input-data.input-message {
  height: 40px;
  margin: 0;
}
#contact-body .showcase-contact .contact-right .contact-form .input-data.input-message label {
  bottom: 0.8rem;
}
#contact-body .showcase-contact .contact-right .contact-form .input-data .is-invalid {
  visibility: hidden;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.7rem;
  color: var(--red-1);
}
#contact-body .showcase-contact .contact-right .contact-form .submit-button {
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin: 6rem 0 0;
}

#services-body {
  background: var(--white);
}
#services-body .showcase-services {
  background: url("../images/services/showcase.webp") no-repeat bottom/cover;
  position: relative;
  height: 70vh;
}
#services-body .showcase-services .showcase-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  height: 80vh;
  padding: 0 12rem;
}
#services-body .showcase-services .showcase-wrapper .showcase-subtitle {
  font-size: 1.1rem;
  margin: 0 0 2rem;
}
#services-body .showcase-services *:not(.navbar) {
  z-index: 10;
}
#services-body .section.services-container {
  background: var(--white);
}
#services-body .section.services-container .main-title {
  color: var(--black-1);
}
#services-body .all-services-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#home-body .showcase-home {
  background: url("../images/home/showcase.webp") no-repeat center/cover;
  position: relative;
  margin: 0 0 8rem;
}
#home-body .showcase-home .showcase-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  height: 100%;
  padding: 0 12rem;
}
#home-body .showcase-home .showcase-wrapper > * {
  color: var(--white);
}
#home-body .showcase-home .showcase-wrapper .showcase-subtitle {
  font-size: 1.1rem;
  margin: 0 0 2rem;
}
#home-body .showcase-home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
#home-body .showcase-home *:not(.navbar) {
  z-index: 10;
}
#home-body .events-wrapper .cards-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}
#home-body .events-wrapper .cards-container .card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  gap: 2rem;
  padding: 3rem;
  border-radius: 15px;
  box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.15);
}
#home-body .events-wrapper .cards-container .card .card-text-wrapper > * {
  margin: 0 0 1rem;
}
#home-body .events-wrapper .cards-container .card .card-text-wrapper > *:last-child {
  margin: 0;
}
#home-body .events-wrapper .cards-container .card .card-text-wrapper > * .card-title {
  font-weight: normal;
}
#home-body .about-wrapper, #home-body .services-wrapper {
  position: relative;
}
#home-body .about-wrapper .container, #home-body .services-wrapper .container {
  background: var(--gray-6);
  width: 80%;
  padding: 4rem;
  display: flex;
}
#home-body .about-wrapper .container .content-wrapper, #home-body .services-wrapper .container .content-wrapper {
  width: 60%;
}
#home-body .about-wrapper .container .content-wrapper .title, #home-body .services-wrapper .container .content-wrapper .title {
  margin: 0 0 1rem;
}
#home-body .about-wrapper .container .content-wrapper .description, #home-body .services-wrapper .container .content-wrapper .description {
  margin: 0 0 1rem;
}
#home-body .about-wrapper .container .content-wrapper .main-button, #home-body .services-wrapper .container .content-wrapper .main-button {
  margin: 2rem 0 0;
}
#home-body .about-wrapper .promo-image, #home-body .services-wrapper .promo-image {
  position: absolute;
  top: 0;
}
#home-body .about-wrapper {
  align-items: flex-start;
  padding: 4rem 8rem;
}
#home-body .about-wrapper .promo-image {
  right: 8%;
}
#home-body .services-wrapper {
  align-items: flex-end;
  padding: 4rem 8rem 0;
  margin: 0;
}
#home-body .services-wrapper .container {
  justify-content: flex-end;
}
#home-body .services-wrapper .promo-image {
  left: 8%;
}
#home-body .most-popular-wrapper {
  background: url("../images/background-image-media.png") no-repeat top/cover;
  padding: 8rem 4rem;
  margin: 0;
}
#home-body .most-popular-wrapper .items-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}
#home-body .most-popular-wrapper .items-wrapper .item {
  border-radius: 15px;
  padding: 4rem;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.15);
  gap: 2rem;
  transition: 600ms ease;
}
#home-body .most-popular-wrapper .items-wrapper .item img {
  border-radius: 50%;
}
#home-body .most-popular-wrapper .items-wrapper .item:hover {
  scale: 1.05;
  transition: 600ms ease;
}/*# sourceMappingURL=index.css.map */