@import "404/index";
@import "contact/index";
@import "events/index";
@import "services/index";

#home-body {
  & .showcase-home {
    background: url("../images/home/showcase.webp") no-repeat center/cover;
  }

  & .events-wrapper .cards-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--spacing-xl);

    & .card {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40%;
      gap: var(--spacing-xl);
      padding: var(--spacing-xl);
      border-radius: var(--border-radius-lg);
      box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.15);

      & .card-text-wrapper {
        & .card-title {
          margin: 0 0 var(--spacing-md);
        }

        & .card-text-content {
          margin: 0 0 var(--spacing-lg);
        }
      }
    }
  }

  & .about-wrapper,
  & .services-wrapper {
    position: relative;

    & .container {
      background: var(--gray-default);
      width: 80%;
      padding: var(--spacing-xl);
      display: flex;

      & .content-wrapper {
        width: 50%;

        & .title {
          margin: 0 0 var(--spacing-md);
        }

        & .description {
          display: flex;
          flex-direction: column;
          margin: 0 0 var(--spacing-lg);
          gap: var(--spacing-md);
        }
      }
    }

    & .promo-image {
      position: absolute;
    }
  }

  & .about-wrapper .promo-image {
    right: 10%;
    bottom: 20%;
  }

  & .services-wrapper {
    & .container {
      justify-content: flex-end;
    }

    & .promo-image {
      left: 10%;
      bottom: 20%;
    }
  }

  & .most-popular-wrapper {
    background: url("../images/bg-image-media.png") no-repeat center/cover;
    margin: 0;

    & .items-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: var(--spacing-xxl);

      & .item {
        border-radius: var(--border-radius-lg);
        padding: var(--spacing-xxl);
        background: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.15);
        gap: var(--spacing-xl);
        transition: 600ms ease;

        & img {
          border-radius: var(--border-radius-xxl);
        }

        &:hover {
          scale: 1.05;
          transition: 600ms ease;
        }
      }
    }
  }
}
