@import "contact/index";
@import "servicii/index";

#home-body {
  & .showcase-home {
    background: url("../images/home/showcase.webp") no-repeat center/cover;
    position: relative;
    margin: 0 0 8rem;

    & .showcase-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      text-align: left;
      height: 100%;
      padding: 0 12rem;

      & > * {
      color: var(--white);
      }

      & .showcase-subtitle {
        font-size: 1.1rem;
        margin: 0 0 2rem;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
    }

    & *:not(.navbar) {
      z-index: 10;
    }
  }

  & .events-wrapper .cards-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;

    & .card {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40%;
      gap: 2rem;
      padding: 3rem;
      border-radius: 15px;
      box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.15);

      & .card-text-wrapper > * {
        margin: 0 0 1rem;

        &:last-child {
          margin: 0;
        }

        & .card-title {
          font-weight: normal;
        }
      }
    }
  }

  & .about-wrapper,
  & .services-wrapper {
    position: relative;

    & .container {
      background: var(--gray-6);
      width: 80%;
      padding: 4rem;
      display: flex;

      & .content-wrapper {
        width: 60%;

        & .title {
          margin: 0 0 1rem;
        }

        & .description {
          margin: 0 0 1rem;
        }

        & .main-button {
          margin: 2rem 0 0;
        }
      }
    }

    & .promo-image {
      position: absolute;
      top: 0;
    }
  }

  & .about-wrapper {
    align-items: flex-start;
    padding: 4rem 8rem;

    & .promo-image {
      right: 8%;
    }
  }

  & .services-wrapper {
    align-items: flex-end;
    padding: 4rem 8rem 0;
    margin: 0;

    & .container {
      justify-content: flex-end;
    }

    & .promo-image {
      left: 8%;
    }
  }

  & .most-popular-wrapper {
    background: url("../images/background-image-media.png") no-repeat top/cover;
    padding: 8rem 4rem;
    margin: 0;

    & .items-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 4rem;

      & .item {
        border-radius: 15px;
        padding: 4rem;
        background: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.15);
        gap: 2rem;
        transition: 600ms ease;

        & img {
          border-radius: 50%;
        }

        &:hover {
          scale: 1.05;
          transition: 600ms ease;
        }
      }
    }
  }
}
