:root {
  --primary-font-family: "Inder", sans-serif;
  --secondary-font-family: "Indie Flower", cursive;
  --white: #fff;
  --black: #000;
  --black-1: #111;
  --gray-1: #333;
  --gray-2: #3b3b3b;
  --gray-3: #585858;
  --gray-4: #b2b2b2;
  --gray-5: #ccc;
  --gray-6: #eee;
  --orange-1: #fb5012;
  --orange-2: #ff6a33;
  --red-1: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--gray-1);
  line-height: 1.4;
}

.overlay {
  visibility: hidden;
}
.overlay.active {
  visibility: visible;
}

body {
  background: var(--white);
  font-family: var(--primary-font-family);
}

h1 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

.showcase {
  height: 100vh;
}

.main-title {
  margin: 0 0 3rem;
  text-align: center;
}

.section {
  padding: 0 4rem;
  margin: 0 0 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#navbar,
#navbar-mobile {
  align-items: center;
  text-align: center;
  background: var(--black-1);
  opacity: 0.9;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 1rem 2rem;
  transition: 500ms;
  z-index: 11;
}
#navbar.top,
#navbar-mobile.top {
  background: transparent;
}

#navbar {
  display: flex;
  justify-content: center;
}
#navbar > * {
  margin: 0 2rem;
}
#navbar .navigation-item {
  color: var(--white);
  font-size: 1.2rem;
  padding: 0.625rem 2rem;
  border-bottom: 2px solid transparent;
}
#navbar .navigation-item:hover {
  border-bottom: 2px solid var(--orange-1);
  transition: border 500ms ease;
}

#sidebar-mobile {
  display: none;
}
#sidebar-mobile.active {
  transform: translateX(0);
}

#footer {
  background: var(--black);
  padding: 2rem 4rem;
}
#footer .main-footer-wrapper {
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.3);
  margin: 0 0 2rem;
  padding: 0 0 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
#footer .main-footer-wrapper > div > * {
  color: var(--white);
}
#footer .main-footer-wrapper h3 {
  text-transform: uppercase;
  margin: 0 0 1rem;
}
#footer .main-footer-wrapper > div:first-child p {
  font-size: 0.8rem;
}
#footer .main-footer-wrapper > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}
#footer .main-footer-wrapper > div:nth-child(2) .phone, #footer .main-footer-wrapper > div:nth-child(2) .email {
  display: flex;
}
#footer .main-footer-wrapper > div:nth-child(2) .phone > img, #footer .main-footer-wrapper > div:nth-child(2) .email > img {
  margin: 0 1rem 0 0;
}
#footer .main-footer-wrapper > div:nth-child(2) .phone {
  margin: 0 0 1rem;
}
#footer .main-footer-wrapper > div:last-child a > :first-child {
  margin: 0 1rem 0 0;
}
#footer .copyright {
  font-size: 0.8rem;
  text-align: center;
}
#footer .copyright > p {
  color: var(--white);
}

.main-button,
.outline-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5rem;
  transition: all 800ms;
}
.main-button:hover,
.outline-button:hover {
  transition: all 800ms;
  transform: translateY(-3px);
}

.main-button {
  background: var(--orange-1);
  color: var(--white);
}
.main-button:hover {
  background: var(--orange-2);
}

.outline-button {
  background: none;
  border: 2px solid var(--orange-1);
  color: var(--orange-1);
}

.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */