#services-body {
  & .showcase-services {
    background: url("../images/services/showcase.jpg") no-repeat center/cover;

    & .showcase-wrapper {
      & span {
        color: var(--primary-default);
        text-transform: uppercase;
      }

      & .showcase-subtitle {
        width: 70%;
      }
    }
  }

  & .services-wrapper .cards-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--spacing-xl);

    & .card {
      display: grid;
      gap: var(--spacing-xl);
      padding: var(--spacing-xl);
      border-radius: var(--border-radius-lg);
      box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.15);

      & .card-text-wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);

        & .card-text-content {
          color: var(--primary-default);
        }
      }
    }
  }
}
