@media (max-width: 1024px) {
  .showcase-contact {
    height: auto;
    flex-direction: column;
    padding-top: 6rem;
    margin-top: 0;
  }
  .showcase-contact .contact-left {
    margin: 0 0 4rem;
  }
  .showcase-contact .contact-left .title {
    font-size: 1.6rem;
  }
}
@media (max-width: 480px) {
  .showcase-contact .contact-left .contact-item .item {
    font-size: 0.8rem;
  }
  .showcase-contact .contact-right {
    width: 300px;
    padding: 2rem;
  }
  .showcase-contact .contact-right h2 {
    margin: 0 0 2rem;
  }
  .showcase-contact .contact-right .contact-form .input-data {
    margin: 0 0 2rem;
  }
  .showcase-contact .contact-right .contact-form .input-data label {
    bottom: 3rem;
  }
}
@media (max-width: 1163px) {
  #footer .main-footer-wrapper {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 15;
  }
  #navbar {
    display: none;
  }
  #sidebar-mobile {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 20;
    transform: translateX(-100%);
    transition: all 300ms ease;
    background: var(--gray-1);
    padding: 1rem;
  }
  #sidebar-mobile .close-menu {
    align-self: flex-end;
    margin: 0 0 1rem;
  }
  #sidebar-mobile .side-menu {
    display: flex;
    flex-direction: column;
  }
  #sidebar-mobile .side-menu > a {
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 0 0 0.5rem;
  }
  #sidebar-mobile .side-menu > a img {
    margin: 0 0.6rem 0 0;
  }
  #sidebar-mobile .side-menu > a.active {
    background: var(--orange-1);
  }
  #sidebar-mobile .side-menu > a:hover {
    background: var(--orange-2);
  }
  #sidebar-mobile .side-menu > a:last-child {
    margin: 0;
  }
  #navbar-mobile {
    display: flex;
    justify-content: space-between;
  }
  .showcase-home .showcase-wrapper {
    align-items: center;
    text-align: center;
    padding: 0 4rem;
  }
  .events-wrapper .cards-container {
    gap: 2rem;
  }
  .events-wrapper .cards-container .card {
    width: 30%;
  }
  .about-wrapper,
  .services-wrapper {
    flex-direction: column;
  }
  .about-wrapper .content-wrapper,
  .services-wrapper .content-wrapper {
    width: 80%;
  }
  .most-popular-wrapper .items-wrapper .item {
    width: 250px;
  }
  #footer .main-footer-wrapper {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
}
@media (max-width: 480px) {
  .showcase-home .showcase-wrapper {
    padding: 0 2rem;
  }
  .showcase-home .showcase-wrapper .showcase-title {
    font-size: 1.6rem;
  }
  .showcase-home .showcase-wrapper .showcase-subtitle {
    font-size: 1rem;
  }
  .section {
    padding: 0 2rem;
  }
  .section img {
    max-width: 270px;
  }
  .lighter-section {
    padding: 4rem 2rem;
  }
  .main-title {
    font-size: 1.4rem;
  }
  .events-wrapper .cards-container .card {
    width: 100%;
  }
  .about-wrapper .content-wrapper,
  .services-wrapper .content-wrapper {
    width: 100%;
  }
  .about-wrapper .content-wrapper .title,
  .services-wrapper .content-wrapper .title {
    font-size: 1.4rem;
  }
  #footer .main-footer-wrapper {
    padding: 4rem 1rem;
  }
  #footer .main-footer-wrapper > div:nth-child(2) i {
    margin: 0 0.5rem 0 0;
  }
  #footer .main-footer-wrapper a, #footer .main-footer-wrapper p {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=index.css.map */