# Enable the URL rewriting engine
RewriteEngine On
RewriteBase /

# Redirect requests for /page.html to /page/ (301 Permanent)
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^.]+)\.html\ HTTP/
RewriteRule ^([^.]+)\.html$ /%1/ [R=301,L]

# Serve index.html from a subfolder when /folder/ or /folder is accessed (without .html)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/?$ $1/index.html [L]

# Ensure that partyscape-events.com/folder redirects to partyscape-events.com/folder/
# Add a trailing slash to folder URLs for consistency and SEO
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.+[^/])$ %{REQUEST_URI}/ [R=301,L]

# Define the default file for a directory
DirectoryIndex index.html

# Rule for 404 errors
ErrorDocument 404 /404/