# Enable the URL rewriting engine
RewriteEngine On
RewriteBase /

# Define the default file for a directory
DirectoryIndex index.html

# Rule for 404 errors - make sure 404/index.html exists in the new structure
ErrorDocument 404 /404/