@media (max-width: 1367px) {
  #contact-body {
    & .showcase-contact .contact-wrapper {
      width: 100%;
    }
  }
}

@media (max-width: 1024px) {
  #contact-body {
    & .showcase-contact .contact-wrapper {
      flex-direction: column;

      & .contact-left,
      & .contact-right {
        width: 100%;
      }
    } 
  }
}

@media (max-width: 480px) {
  #contact-body {
    & .showcase-contact {
      padding: 0;

      & .contact-wrapper {
        & .contact-left {
          padding: 8rem 2rem 4rem;

          & .title {
            font-size: 1.5rem;
          }

          & .contact-item {
            & img {
              width: 20px;
            }

            & > p {
              word-break: break-all;
              font-size: 1rem;
            }
          }
        }

        & .contact-right {
          padding: 4rem 2rem;
        }
      }
    }
  }
}

@media (max-width: 825px) and (orientation: landscape) {
  #contact-body .showcase-contact {
    padding: 8rem 2rem;

    & .contact-wrapper .contact-left .contact-item > p {
      font-size: 1rem;
    }
  }
}
