@media (max-width: 1024px) {
  #contact-body {
    & .showcase-contact {
      height: fit-content;
      padding: var(--spacing-xxl) var(--spacing-md);

      & .contact-wrapper {
        flex-direction: column;

        & .contact-left,
        & .contact-right {
          padding: var(--spacing-lg);
        }
      }
    }
  }
}
