@media (max-width: 1366px) {
    #events-body {
        & .showcase-events .showcase-wrapper .showcase-content {
            width: 60%;
        }
    }
}

@media (max-width: 1024px) {
    #events-body {
        & .showcase-events {
            height: 50vh;

            & .showcase-wrapper {
                height: 50vh;

                & .showcase-content {
                    width: 70%;
                    padding: 1rem 0;

                    // & .showcase-title {
                    //     font-size: 1.4rem;

                    //     & span {
                    //         font-size: 1rem;
                    //     }
                    // }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #events-body {
        & .showcase-events .showcase-wrapper .showcase-content .showcase-title {
            font-size: 1.4rem;

            & span {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 480px) {
    #events-body {
        & .showcase-events {
            height: 100vh;
            margin: 0 0 4rem;

            & .showcase-wrapper {
                height: 100vh;

                & .showcase-content {
                    width: 90%;
                }
            }
        }

        & .events-wrapper {
            grid-template-areas: 
                "nunta nunta nunta"
                "cununie cununie cununie"
                "botez botez botez"
                "petrecere petrecere petrecere"
                "majorat majorat majorat"
                "corporate corporate corporate";
        }

        & .pre-footer {
            padding: 2rem;
        }
    }
}