@media (max-width: 1366px) {
    #events-body .events-wrapper .event {
        min-height: 180px;
    }
}

@media (max-width: 1024px) {
    #events-body {
        & .events-wrapper {
            gap: var(--spacing-lg);
            grid-template-areas: 
                "nunta nunta nunta"
                "cununie cununie cununie"
                "botez botez botez"
                "petrecere petrecere petrecere"
                "majorat majorat majorat"
                "corporate corporate corporate"
            ;

            & .event {
                min-height: 300px;
            }
        }
    }
}

@media (max-width: 480px) {
    #events-body {
        & .events-wrapper {
            padding: var(--spacing-lg);
            margin: 0 0 var(--spacing-lg);

            & .event {
                min-height: 150px;
            }
        }

        & .pre-footer {
            padding: var(--spacing-xl);
        }
    }
}
