#contact-body .showcase-contact {
  background: url(../images/contact/showcase.webp) no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  &::before {
    background: rgba(0, 0, 0, 0.2);
  }

  & .contact-wrapper {
    display: flex;
    justify-content: center;
    padding: var(--spacing-xxl) 0 0;

    & .contact-left,
    & .contact-right {
      padding: var(--spacing-xxl);

      & .title {
        margin: 0 0 var(--spacing-xl);
      }
    }

    & .contact-left {
      background: var(--primary-default);
      border-top-left-radius: var(--border-radius-md);
      border-bottom-left-radius: var(--border-radius-md);
      
      & > * {
        color: var(--white);
      }

      & .contact-data {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);

        & .contact-item {
          display: flex;
          align-items: center;
          gap: var(--spacing-md);

          & > * {
            color: var(--white);
            font-weight: 400;
            word-break: break-word;
          }
        }
      }
    }

    & .contact-right {
      background: var(--white);
      border-top-right-radius: var(--border-radius-md);
      border-bottom-right-radius: var(--border-radius-md);

      & .contact-form {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);

        & > div * {
          line-height: normal;
        }

        /* Container to hold the input, label, and underline */
        & .input-data {
          position: relative;

          /* Input field */
          & input {
            width: 100%;
            padding: var(--spacing-sm);
            border: none;
            border-bottom: 1px solid var(--gray-3);
            outline: none;
            font-size: var(--heading-5);
            transition: border-color 300ms ease-in-out;

            /* When input is focused or has a value, move the label */
            &:focus + label,
            &:valid + label,
            &.has-value + label {
              top: calc(-1 * var(--spacing-sm));
              font-size: var(--small);
              color: var(--primary-default);
            }
          }

          /* Label styling */
          & label {
            position: absolute;
            top: var(--spacing-sm);
            left: var(--spacing-sm);
            font-size: var(--heading-5);
            font-family: var(--primary-font-family);
            color: var(--gray-3);
            transition: top 200ms ease, font-size 200ms ease;
            pointer-events: none;
          }

          /* Underline styling */
          & .underline {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: var(--gray-3);
            transition: background-color 300ms ease-in-out;
          }

          /* Focused state for underline */
          & input:focus ~ .underline {
            background: var(--primary-default);
          }
        }

        & .is-invalid {
          visibility: hidden;
          color: var(--red-default);
        }

        & .submit-button {
          border: none;
          text-transform: uppercase;
          cursor: pointer;
          margin: var(--spacing-lg) 0 0;
        }
      }
    }
  }
}
